h1, h2, h3, h4, h5 {
	font-weight: 300;
	margin-top: -5px;
	margin-bottom: 0;
}

h1 {
	@include font_size(xl);
	@include media-breakpoint-down(lg) {
		@include font_size(lg);
	}
	margin-top: -10px;
	margin-left: 10px;
	margin-bottom: 10px;
}


h2 {
	@include font_size(lg);
	@include media-breakpoint-down(lg) {
		@include font_size(md);
	}
}