<!DOCTYPE html>
<html>
	<head>
		<title>{{page_title}}</title>
		<link rel="stylesheet" href="{{absolute_prefix}}assets/css/main.css">

		{{!-- fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

	</head>
	<body>

		{{> @partial-block}}

	</body>

</html>
