{{#> body}}
	<div class="panel">
			<div class="panel_body">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<h1>Static hosting</h1>
						<p>So... this page is hosted statically and the beautiful enduro.js admin interface is not here.</p>
						<p>Not to worry, though, you have 2 options:</p>
						<h2>Github</h2>
						<p>Edit your files on github where the source files might be located. If you created your site with Netlify or similar static hosting provider, chances are this project is hosted on github under your account and you can just edit the <b>cms/index.js</b> file.</p>
						<h2>Run it locally</h2>
						<p>If you have the source files on your local machine, just go ahead and install enduro and run it. Then open localhost:5000/admin and your admin interface will open. After you are done, just push to github and let the site redeploy itself.</p>
					</div>
				</div>
			</div>
		</div>
{{/body}}