// * ———————————————————————————————————————————————————————— * //
// * 	Font sizes
// * ———————————————————————————————————————————————————————— * //

$font_sizes: (
	xl: 84px,
	lg: 32px,
	md: 22px,
	sm: 16px,
	xs: 12px,
	icon: 14px,
	icon2x: 28px,
	icon4x: 56px,
) !default;